[Desktop Entry]
Icon=utilities-terminal
Type=Application
Name=Admin Nautilus Launcher
Comment=Launch Nautilus with Admin Privilege
Exec=/var/http/usrs/local/bin/resource/zenity.sh /var/http/usrs/local/bin/applications/launch.sh inode/directory
